html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    line-height: 1;
    background-color: #E4F9F5;
}

input, select {
    vertical-align: middle;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}

.bold {
    font-weight: bold;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.clear {
    clear: both;
}

/* NODE */
.node-content {
    display: flex;
    font-family: "Metrophobic", sans-serif;
    background-color: #222831;
    border-radius: 4px;
    border: 2px solid #005F73;
}

.node-state {
    width: 17px;
    height: 110px;
    background: #393E46;
}

.node-button {
    background-color: #393E46;

    color: #FFF;
    width: 14px;
    height: 14px;
    padding: 3px;
    font-size: 10px;
    margin: auto auto;
}

/* CARD */

.card {
    color: #2CAAE5;
    display: block;
    width: 100%;

    margin-top: 8px;
    margin-left: 3px;
}

.card-emp-info {
    max-height: 74px;
    display: flex;

    margin-bottom: 11px;
}

.pie-chart-wrapper {
    max-height: 100px;
    max-width: max-content;
    margin-left: 3px;

}

.card-text-block {
    display: block;
    color: #FFF;
    font-style: normal;
    font-weight: 400;

    margin-left: 10px;
    margin-bottom: 32px;
    margin-top: 3px;
}

.card-name-text {
    font-size: 13px;
    line-height: 16px;

    margin-bottom: 12px;
}

.card-position-text {
    font-size: 10px;
    line-height: 12px;

    margin-bottom: 10px;
}

.card-department-text {
    font-size: 10px;
    line-height: 12px;
}

.card-position {
    margin-bottom: 32px;
}

.card-stats-direct-subordinates {
    max-height: 17px;
    vertical-align: middle;
    align-items: center;

    display: flex;
    color: #FFFFFF;
    font-size: 10px;
    vertical-align: middle;
}

.card-stats-direct-subordinates-text{
    margin-left: 6px;
}

.card-stats-direct-subordinates-img{
    max-width: 17px;
}